<div class="blog_entry">
  <div class="inner">
    <div class="top"></div>
    <div class="date">
      <span class="day"><%= blog_entry.published_at.day %></span><br />
      <span class="month"><%= blog_entry.published_at.strftime("%b") %></span><br />
      <span class="year"><%= blog_entry.published_at.year %></span><br />
    </div>
    <div class="comments_count"><%= link_to "0", blog_entry_url(blog_entry, :anchor => "disqus_thread"), 'data-disqus-identifier' => "blog_entry_#{blog_entry.id}" %></div>
    <div class="middle">
      <h2><%= blog_entry.title %></h2>
      <p class="strong">
        <%= RedCloth.new(blog_entry.excerpt).to_html.html_safe %>
      </p>
      <p>
        <%= link_to "Read more", blog_entry, :class => "button" %>
      </p>
    </div>
    <div class="bottom"></div>
  </div>
</div>