<%= content_for :above_content do %>
  <div class="align_center">
    <%= image_tag "frontpage_banner.png", :id => "frontpage_banner" %>
  </div>
<% end %>

<% content_for :right_column do %>
  <%= render "me" %>
<% end %>

<h1>Latest news</h1>

<%= render @blog_entries %>

<%= render "blog_entries/comments_count" %>