<%= content_for :above_content do %>
  <div class="align_center">
    <%= image_tag "frontpage_banner.png", :id => "frontpage_banner", :alt => "My name is Thomas Dippel, and I'm a passionate Ruby on Rails developer with an eye for details and a sense of technique." %>
  </div>
<% end %>

<% content_for :right_column do %>
  <%= render "me" %>
<% end %>

<h1>Latest news</h1>

<%= render @blog_entries %>

<%= render "blog_entries/comments_count" %>