<!DOCTYPE html>
<html>
<head>
  <title>Dipth</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller.controller_name} #{controller.action_name}" %>">

  <div id="wrap">
    <div class="container_12" id="main">
      <div id="header" class="grid_12">
        <%= link_to image_tag("logo.png", :alt => "@dipth"), root_path %>
        <div id="search_container">
          <%= form_tag blog_entries_path, :method => :get do %>
            <%= text_field_tag "search", params[:search] %>
          <% end %>
        </div>
        <ul id="main_menu">
          <li class="frontpage"><%= link_to "Home", root_path %></li>
          <li class="blog_entries"><%= link_to "Blog", blog_entries_path %></li>
          <li class="about"><%= link_to "About", about_path %></li>
          <li class="projects"><%= link_to "Projects", projects_path %></li>
          <li class="contact"><%= link_to "Contact", "/" %></li>
        </ul>
      </div>
      <div class="grid_12" id="main_content_container">
        <%= yield :above_content %>
        <div class="grid_9 alpha" id="main_content"><%= yield %></div>
        <div class="grid_3 omega right_column" id="right_column"><%= yield :right_column %></div>
        <%= yield :below_content %>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container_12">
      <div class="grid_12">
        Copyright © <strong>Thomas Dippel</strong> 2011, All Rights Reserved
      </div>
    </div>
  </div>



</body>
</html>
